<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-formula">Roll Formula</div>
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize 'LEWATT.UI.AddItem'}}" data-type="item"><i class="fas fa-plus"></i> {{localize 'LEWATT.UI.AddItem'}}</a>
    </div>
  </li>
  {{#each items as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
        </div>
        <h4>{{item.name}}{{#if item.data.level}}&nbsp;{{item.romanLevel}}{{/if}}</h4>
      </div>
      <div class="item-formula item-prop">{{item.data.formula}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>