.tag {
	border: 1px solid rgba(0, 0, 0, 0.5);;
	text-transform: uppercase;
	white-space: nowrap;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.3);;
	padding: 0 0.2em;
	margin: 0 2px;
}

.tag-racial {
	background-color: #3a7a58;
	color: #eeeeee;
}

.tag-magic {
	background-color: #6c1e8b;
	color: #eeeeee;
}