<div class="tags flexrow flex-group-left">
	{{#each tags.racial as |tag|}}
	<span class="flexshrink tag tag-racial">{{localize (concat 'LEWATT.tag.' tag)}}</span>
	{{/each}}
	{{#each tags.magic as |tag|}}
	<span class="flexshrink tag tag-magic">{{localize (concat 'LEWATT.tag.' tag)}}</span>
	{{/each}}
	{{#each tags.other as |tag|}}
	<span class="flexshrink tag">{{localize (concat 'LEWATT.tag.' tag)}}</span>
	{{/each}}
</div>
